#OS-specific files
.DS_Store
Thumbs.db

#Node.js dependencies and build artifacts
/node_modules
/dist
/.angular/cache

#IDE and editor-specific files
/.idea
/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#npm/yarn logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#environment files
/.env
/.env.local
/.env.*.local

#TypeScript build output
/*.js
/*.map
/*.d.ts

#Jest test coverage directory
/coverage

#Angular CLI workspace configuration
/.angular

#temporary files
/tmp
/out-tsc

#compiled output
/dist
/dist-server

#e2e test output
/e2e/*.js
/e2e/*.map

#package manager lock files
# /package-lock.json
# /yarn.lock
